body {
    font-family: Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 40px 80px 40px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
}

.profile_img {
    display: flex;
    align-items: center;
}

.profile_img img {
    max-width: 125px;
    border-radius: 25px;
}

h1,
h2,
p {
    color: #000;
    margin: 0.5vw 0.25vw;
}

.blue_text {
    color: #000;
}

.medium_text {
    font-size: 2vw;
}

.section-title {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.contact-info,
.skills {
    margin: 10px 0;
}

.contact-info p,
.skills p {
    margin: 5px 0;
}

.skills span {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}

.experience,
.education,
.certifications,
.skills,
.languages {
    margin: 20px 0;
}

.job-title {
    font-weight: normal;
}

.date {
    font-style: italic;
    color: #000;
}

#export-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#export-btn:hover {
    background-color: #000;
}

@media print {
    .container {
        box-shadow: none !important;
        margin: 0 !important;
    }
}