body {
    font-family: Rubik, Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    display: flex;
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 45px 90px 45px 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-date-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.job-place-date-container {
    display: grid;
    grid-template-columns: 1.3fr 1.25fr 1fr;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.job-place-date-container b {
    text-align: left;
}

.job-place-date-container div {
    text-align: left;
}

.job-place-date-container p {
    text-align: right;
}

.job-title {
    font-weight: bold;
}

.date {
    font-style: italic;
    color: #777;
}

.space-10 {
    margin: 10px 0;
}

.space-20 {
    margin: 20px 0;
}

.space-30 {
    margin: 30px 0;
}

.space-40 {
    margin: 40px 0;
}

.left-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile_img {
    display: flex;
    align-items: center;
}

.profile_img img {
    max-width: 125px;
    border-radius: 25px;
}

.big_img {
    align-items: center;
    /* Alinea verticalmente */
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

h1,
h2,
h3,
h4,
p,
b {
    color: #333;
    margin: 0.5vw 0.25vw;
}

.blue_text {
    color: #03406f;
    font-weight: bold;
}

.small_text {
    font-size: 1vw;
}

.small_medium_text {
    font-size: 1.5vw;
}

.medium_text {
    font-size: 2vw;
}

.medium_large_text {
    font-size: 2.5vw;
}

.large_text {
    font-size: 3vw;
}

.extra_large_text {
    font-size: 4vw;
}

.section-title {
    border-bottom: 2px solid #0078d4;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.under-line {
    border-bottom: 1px solid #0078d46b;
}

.contact-info,
.skills {
    margin: 10px 0;
}

.contact-info p,
.skills p {
    margin: 5px 0;
}

.skills span {
    display: inline-block;
    background: #0078d4;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    font-size: 1rem;
}

.education,
.certifications,
.experience,
.skills {
    margin: 20px 0;
}

#export-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#export-btn:hover {
    background-color: #005bb5;
}

@media print {
    .container {
        box-shadow: none !important;
        margin: 0 !important;
    }
}